/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box; 
  margin: 0;
  padding: 0%; 
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');




p{
  font-family: "Roboto";
  font-size: 1em;
  font-weight: lighter;
}




footer{
  background-color: #101c2d;
  text-align: center;
}