/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');


main{
  margin-top: 60px;
}

body {
  display: block;
  margin: 0;
}
header{
  width: 100%;
  display: block;
  position: fixed;
  padding-top: 0;

  background: #fdfdfd;
  
}

nav {
  width:100%;
  background: #fdfdfd;
  padding: 0 15px;
}
a{
  color: rgba(16,28,45,.6);
  text-decoration: none;
}
.menu,
.submenu {
  list-style-type: none;
}
.logo {
  display: block;
  order: 0;
  width: 80px;
  height: 100%;
  background-color: #101c2d;
  text-decoration: none;
  text-align: center;
  border-radius: 0 0 0 20px;
  border-bottom: 2px solid #e52e2b;
}
.logo_img{
  align-items: center;
  margin: 20px;
  padding-right: 20px;
  width: 100%;
  background-image: url("../images/logo-color.svg");
  background-repeat: no-repeat;

}
.search_icon{
  border: none;
  background-image: url("../images/Icons/search_icon_head.svg");
  display: block;
    float: right;
    width: 2em;
    margin-top: 3px;
    
    height: 100%;
    background-repeat: no-repeat;
    background-size: 20px;
    
}
fieldset{
  border: none;
}
input{
  display: none;
  
}
.item {
  padding: 10px;
}
.item.button {
  padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
  color: #ccc;
}


/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu li a {
  color: rgba(16,28,45,.6);
  display: block;
  padding: 15px 5px;
}
.menu li.subitem a {
  padding: 15px;
}
.toggle {
  order: 1;
  font-size: 20px;
}
.item.button {
  order: 2;
}
.item {
  order: 3;
  width: 100%;
  margin:-10px;
  text-align: center;
  display: none;
}
.active .item {
  display: block;
}
.button.secondary {
  /* divider between buttons and menu links */
  border-bottom: 1px #444 solid;
}
/* Submenu up from mobile screens */
.submenu {
  display: none;
}
.submenu-active .submenu {
  display: block;
}
.has-submenu i {
  font-size: 12px;
}
.has-submenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: white;
  padding-left: 5px;
}
.subitem a {
  padding: 10px 15px;
}
.submenu-active {
  background-color: #fdfdfd;
  border-radius: 3px;
}

/* Tablet menu */
@media all and (min-width: 700px) {
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }
  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }
  /* Button up from tablet screen */
  .menu li.button a {
    color: rgba(16,28,45,.6);
    padding: 10px 15px;
    margin: 5px 0;
  }
 
  .button.secondary {
    border: 0;
  }
  .button.secondary a {
    background: transparent;
    border: 1px #0080ff solid;
  }
  .button a:hover {
    text-decoration: none;
  }
  .button:not(.secondary) a:hover {
    background: royalblue;
    border-color: darkblue;
  }
}
/* Desktop menu */
@media all and (min-width: 960px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .button {
    order: 2;
  }
  .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background: #fdfdfd;
  }
  .toggle {
    display: none;
  }
  .submenu-active {
    border-radius: 0;
  }
}

/*main */
main {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

main .artikelen1,
.artikelen2,
.artikelen3,
article {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #d8d8d8;
  height: auto;
}

article {
  display: flex;
  box-sizing: border-box;
  padding: 16px, 0;
}

article,
img {
  left: 50%;
}



button {
  align-content: center;
}

p {
  font-family: "Roboto";
  font-size: 1em;
  font-weight: lighter;
}
h1{
  color: white;
}
h3 {
  align-items: center;
  color: #31353e;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/*slider*/



#slide1 {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url("../images/v2_featured_9c86696a6d0f886d853db965726f7a56a821fc5b.jpg");
}

#slide2 {
  height: 100%;
  width: 100%;
  background-image: url("../images/v2_featured_a37131d8457369869fcdbee863f48e3de43726b2.jpg");
}

#slide3 {
  height: 100%;
  width: 100%;
  background-image: url("../images/v2_featured_d2fbefbb9160c40b3a41c32b049e0016252b1f15.jpg");
}

/*artikelen*/
 .artikelen{
   padding: 16px 0;
 }
.datum:before {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  margin-bottom: -5px;
  content: ' ';
  background: url("../images/time_article_icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.reaction::before {
  display: inline-block;
  width: 17px;
  height: 16px;
  margin-right: 3px;
  margin-bottom: -5px;
  content: ' ';
  background: url("../images/comments_article_icon.svg");
  background-size: 100%;
  background-repeat: no-repeat;

}

/*headline*/
.gallery{
  position: absolute;
  left: 0;
  height: 8px;
  width: 200px;
  background-color: #d0021b;
  border-radius: 0 0 30px 0;
}
.headline-carousel-container{
  width: 100%;

}
.headline-carousel-header{
  padding: 0 8px 0 32px;
  background: linear-gradient(25deg,#101c2d, #101c2d, 31%, transparent), url("../images/common-f1-header@2x.jpg");  
  background-repeat: no-repeat;
  position: top right;
  background-size: cover;
}

#headline_title{
  color: #d0021b;
  padding:29px 0 0 0;
  line-height: 18px;
  letter-spacing: .83px;
  font-weight: 700;
}
.headline-carousel-container h4{
  color: #f9fafc;
  width: 100%;
  padding:12px 0 20px 0;
  font-size: 1em;
  letter-spacing: .2px;
  opacity: .8;
}
 #headline-carousel{
   background:#101c2d ;
 }
 
 .headline-carousel-item{
    width: 240px;
    text-decoration: none;
   padding-left: 32px;
   margin-right: 30px;
 }
.headline-img{
  width: 100%;
}
.img-slide{
  width: 240px;
  height: 134px;
  margin: 0 0 16px 0;
  border-bottom: 3px solid #d8d8d8;
  overflow: unset;
}
.headline-item-title{
  color: white;
  font-style: italic;
  font-size: 1.2em;
  font-weight: 700;
  line-height: 20px;
}
.datum-headline{
  padding: 3px 0 0 0;
  font-size: 11px;
  line-height: 18px;
  color: white;
  opacity: .6;
}

.item-onder-img{
  width: 20px;
  height: 20px;
  left:0;
  bottom: -12px;
}

.gall{
  display: block;
  height: auto;
  width: 100%;

  background: linear-gradient(180deg, transparent 0, transparent 35%, #101c2d 75%, #101c2d 100%) ;
}

#gall-img{
  height: 100%;
  width: 100%;
  display: block;
  padding: relative;
}

#text-gal{
  padding: 20px 16px;
  display: inline-block;
  position: absolute;
}
 #pic{
   float:left;
 }

 #laadmeer{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 20px 16px;
}
#laadbut{
  display: inline-block;
  position: relative;
  justify-content: center;
 
  padding:12px 40px 12px ;
  text-align: center;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  float: none!important;
  background-color: #d0021b;
color: white;
border-radius: 12px 4px 12px 4px;
border: 0;
}

/*Social*/
.social-media-large{
  width: 100%;
  display: flex;
}
.social-media-large li{
  width: 100%;
  display: inline-block;
  
}

/*footer */
footer {
  display: block;
  background-color: #101c2d;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  text-align: center;
  color: white;
  margin-bottom: 2em;
}
footer, li, a{
 color: rgba(255,255,255,.6);
}

footer h3{

  color: white;
}

footer .footernav ul li :before {
  display: block;
  width: 8px;
  height: 12px;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url("../images/list_item_arrow_red.svg");
  background-repeat: no-repeat;
}

.footerimg {
  justify-content: center;
  width: 100%;
  max-width: 88px;
  padding-top: 1em;
 margin-bottom: 33px;

}

footer li, a {
  color: rgba(255,255,255,.6);
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
  letter-spacing: .3px;
  font-weight: 400;
}