/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box; 
  margin: 0;
  padding: 0%; 
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');

body{
  margin: 0;

}

header{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  position: sticky;
  top: -3.5em;
  z-index: 10;
}
li{
  text-decoration: none;
}
header > li > a {
  display: block;
  width: 7.5em; height: 3.5em;
  font-weight: bold;
  text-decoration: none;
  outline: none;
}
header > a:hover {
  padding:.75em 2.75em .75em 0;
  text-align:right;
  background-position:calc(100% - .75em) center;
}

header > a:focus {
  text-decoration:underline;

}
header nav {
  background-color:rgba(0,0,0,.1);
  flex-grow:1;
}

header nav ul {    
  margin:0; padding:0;
  list-style:none;
  display:flex;
}

header nav li {
  min-width:6em;
  flex-grow:1;
}

header nav li + li {
  border-left:solid 1px transparent;
}

header nav a {
  color:white;
  background-color:DarkSlateGray; 
  text-decoration:none;
  outline:none;
  
  /* jouw code hier */
  display:block;
  line-height:3.5em;
  text-align:center;
}

header nav a.active {
  font-weight:bold;
  cursor:default;
}

header nav a:hover:not(.active) {
  color:DarkSlateGray;
  background-color:white;
}

header nav a:focus {
  text-decoration:underline;
}

header form {
  padding:.75em;
  background-color:rgba(0,0,0,.2);
  flex-grow:8;
  display:flex;
  justify-content:flex-end;
}

header form input { 
  flex-grow:1;  
}

input, button {
  font-size:1em;
  -webkit-appearance:none;
  appearance:none;
  border:none;
}

header form input {
  width:12em;
  max-width:38em;
  line-height:2em;
  padding:0 .5em;
}

header form button {
  line-height:2em;
  padding:0 .5em;
  background-color:DarkSlateGray;
  color:white;
}



button{
  align-content: center;
}

p{
  font-family: "Roboto";
  font-size: 1em;
  font-weight: lighter;
}


h3{
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

footer{
  display: block;
  background-color: #101c2d;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  text-align: center;
  color: white;
  margin-bottom: 2em;
}
footer .footernav ul li ::before{
  display: block;
  width: 8px;
  height: 12px;
  top: 0;
  left: 0;
  position: absolute;
  content: '';
  background-image: url(https://files.gpblog.com/images/gp/icons/min/list_item_arrow_red.svg);
  background-repeat: no-repeat;
}
.footerimg{
  display: block;
  width: 100%;
  max-width: 88px;
  padding-top: 1em;
  
}
footer  li a{
  color:#31353e ;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
  font-weight:800;
}