/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');


html{
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto';
  display: block;
  margin: 0;
}
.navig{
  width: 100%;
  display: block;
  position: fixed;
  margin-top:-.5em;
  margin-bottom: 0.5em;
  padding-top: 0;
  background: #fdfdfd;
  z-index: 10;
}

nav {
  width:100%;
  background: #fdfdfd;
  padding-left: 15px;
  z-index: 5;
}
a{
  color: rgba(16,28,45,.6);
  text-decoration: none;
}
.menu,
.submenu {
  list-style-type: none;
}
.logo {
  display: block;
  order: 0;
  width: 80px;
  height: 100%;
  background-color: #101c2d;
  text-decoration: none;
  text-align: center;
  border-radius: 0 0 0 20px;
  border-bottom: 2px solid #e52e2b;
}
.logo_img{
  align-items: center;
  margin: 20px;
  padding-right: 20px;
  width: 100%;
  background-image: url("../images/logo-color.svg");
  background-repeat: no-repeat;

}
.search_icon{
  border: none;
  background-image: url("../images/Icons/search_icon_head.svg");
  display: block;
    float: right;
    width: 2em;
    margin-top: 3px;  
    height: 100%;
    background-repeat: no-repeat;
    background-size: 20px;
    
}
fieldset{
  border: none;
}
input{
  display: none;
  
}
.item {
  padding: 10px;
}
.item.button {
  padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
  color: #ccc;
}


/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu li a {
  font-weight: bold;
  color: rgba(16,28,45,.6);
  display: block;
  padding: 15px 5px;
 
}
.menu li.subitem a {
  padding: 15px;
}
.toggle {
  order: 1;
  font-size: 20px;
}
.item.button {
  order: 2;
}
.item {
  order: 3;
  width: 100%;
  margin:-10px;
  text-align: center;
  display: none;
}
.active .item {
  display: block;
}
.button.secondary {
  /* divider between buttons and menu links */
  border-bottom: 1px #444 solid;
}
/* Submenu up from mobile screens */
.submenu {
  display: none;
}
.submenu-active .submenu {
  display: block;
}
.has-submenu i {
  font-size: 12px;
}
.has-submenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "";
  color: white;
  padding-left: 5px;
}
.subitem a {
  padding: 10px 15px;
}
.submenu-active {
  background-color: #fdfdfd;
  border-radius: 3px;
}

/* Tablet menu */
@media all and (min-width: 700px) {
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }
  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }
  /* Button up from tablet screen */
  .menu li.button a {
  
    color: rgba(16,28,45,.6);
    padding: 10px 15px;
    margin: 5px 0;
  }
 
  .button.secondary {
    border: 0;
  }
  .button.secondary a {
    background: transparent;
    border: 1px #0080ff solid;
  }
  .button a:hover {
    text-decoration: none;
  }
  .button:not(.secondary) a:hover {
    background: royalblue;
    border-color: darkblue;
  }
}
/* Desktop menu */
@media all and (min-width: 960px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .button {
    order: 2;
  }
  .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background: #fdfdfd;
  }
  .toggle {
    display: none;
  }
  .submenu-active {
    border-radius: 0;
  }
}

/*main */
main {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
}

main .artikelen1,
.artikelen2,
.artikelen3,
article {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #d8d8d8;
  height: auto;
}



article {
  display: flex;
  box-sizing: border-box;
  padding: 16px, 0;
}

article,img {
  left: 50%;
}

button {
  align-content: center;
}

p {
  font-family: "Roboto";
  font-size: 1em;
  font-weight: lighter;
}
h1{
  color: white;
  
}
h3 {
  align-items: center;
  color: #31353e;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/*slider*/

.slideshow-container {
padding-top: 50px;
  max-width: 100%;
  position: inline-block;
  position: relative;
  margin-bottom: 10px;
  z-index: 0;

}

.slideshow-container::after{
  content: "";
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg,#101c2d 0,rgba(16,28,45,.8) 20%,transparent 60%,transparent 100%);
  z-index: 0;
}



/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: 900;
  color: #31353e;
  background-color: #cbcdd0;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 10px 30px 0;
  user-select: none;
  z-index: 2;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius:30px 0 0 10px;
  
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #cbcdd0(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  z-index: 2;
}



/* The dots/bullets/indicators */
.dot-container{
  width: 100%;
  display: block ;
}

.dot {
  cursor: pointer;
  height: 4px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba(254,254,254,.2);
  border-radius: 3px 1px 3px 1px;
  display: inline-block;
 padding-bottom: -3em;
  z-index: 3;
}
.dot::before{
  content: '';
    width: inherit;
    height: inherit;
    background-color: rgba(254,254,254,.2);
}





/*artikelen*/
 .artikelen{
   padding: 16px 0;
 }
 article img{
  align-items: center;
   margin-top: 15px;
   height: 100%;
 }
.art-text{
  padding: 10px;
}
 .meta_wrapper{
  padding-right: 16px;
 }
 .datum{
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 12px;
  letter-spacing: .2px;
  line-height: 14px;
  color: #9b9b9b;
}

.datum:before {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  margin-bottom: -5px;
  content: ' ';
  background: url("../images/time_article_icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.reaction{
 
  float: right;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: .2px;
}
.reaction::before {
  display: inline-block;
  width: 17px;
  height: 16px;
  margin-right: 3px;
  margin-bottom: -5px;
  content: ' ';
  background: url("../images/comments_article_icon.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

aside{
  position: relative;
  display: block;
  width: 100%;
  background-image: url("../images/Artikelen/Groot/v2_large_034c58a7906dcb1163003211e4e33180756b9307.jpg");
z-index: 1;
}

aside::after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg,#101c2d 0,rgba(16,28,45,.8) 20%,transparent 60%,transparent 100%);
  z-index: 0;
}

aside header h1{
  font-size: 1.8em;;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 0 2px 4px rgba(0,0,0,.5);
}

aside header #date{
  display: inline-block;
  float: none;
  color: rgba(255,255,255,.4);
}

/*headline*/
.gallery{
  position: absolute;
  left: 0;
  height: 8px;
  width: 200px;
  background-color: #d0021b;
  border-radius: 0 0 30px 0;
}
.headline-carousel-container{
  width: 100%;
}
.headline-carousel-header{
  padding: 0 8px 0 32px;
  background: linear-gradient(25deg,#101c2d, #101c2d, 31%, transparent), url("../images/common-f1-header@2x.jpg");  
  background-repeat: no-repeat;
  position: top right;
  background-size: cover;
}

#headline_title{
  color: #d0021b;
  padding:29px 0 0 0;
  line-height: 18px;
  letter-spacing: .83px;
  font-weight: 700;
}
.headline-carousel-container h4{
  color: #f9fafc;
  width: 100%;
  padding:12px 0 20px 0;
  font-size: 1em;
  letter-spacing: .2px;
  opacity: .8;
}
 #headline-carousel{
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-top: 10px;
   background:#101c2d ;
 }
 #headline-carousel li{
text-decoration: none; 
color: transparent;
}
 .headline-carousel-item{
  flex: 0 0 auto;
  width: 240px;
  text-decoration: none;
  padding-left: 32px;
  margin-right: 30px;
 }
.headline-img{
  width: 100%;
}
.img-slide{
  height: 134px;
  margin: 0 0 16px 0;
  border-bottom: 3px solid #d8d8d8;
  overflow: unset;
}
.headline-item-title{
  color: white;
  font-style: italic;
  font-size: 1.2em;
  font-weight: 700;
  line-height: 20px;
}
.datum-headline{
  padding: 3px 0 0 0;
  font-size: 11px;
  line-height: 18px;
  color: white;
  opacity: .6;
}

.item-onder-img{
  width: 20px;
  height: 20px;
  left:0;
  bottom: -12px;
}

.gall{
  position: relative;
  background-image: url("../images/large_a8eb859dc4a2446e0c188a5022b8a832b27ea161.jpg");
  display: block;
  height: auto;
  width: 100%;
}

.gall::after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg,#101c2d 0,rgba(16,28,45,.8) 20%,transparent 60%,transparent 100%);
  z-index: 0;
}
#tag{
  padding: 3px 8px 4px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  z-index: 0;
  overflow:initial;
}
 #tag::after{
   z-index: -1;
   content: "";
   display: block;
   position: absolute;
   left:0;
   top:0;
   bottom:0;
   background-color: #0076ff;
   border-radius: 12px 4px 12px 4px;
 }
#text-gal{
  padding: 20px 16px;
  display: inline-block;
}
 #pic{
   display: inline-block;
   width: auto;
   
 }
#pic::before{
 background-image: url();
  content:'';

}
 #laadmeer{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 20px 16px;
}
#laadbut{
  display: inline-block;
  position: relative;
  justify-content: center;
 
  padding:12px 40px 12px ;
  text-align: center;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  float: none!important;
  background-color: #d0021b;
color: white;
border-radius: 12px 4px 12px 4px;
border: 0;
}



/*Social*/
.social-media-large{
  width: 100%;
  display: flex;
}
.social-media-large li{
  width: 100%;
  display: inline-block;
  
}

/*footer */


footer {
  display: block;
  position: absolute;
  width: 100%;
  background-color: #101c2d;
  font-family:'Roboto';
  text-align: center;
  color: transparent;
  margin-bottom: 2em;
}


footer h3{
  font-family: 'Roboto';
  font-size: 1.2em;
  line-height: 20px;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  text-align: start;
}

.footernav-container{
  padding: 10px 32px;
  text-decoration: none;
}
footer li a{
display: flex;
color: rgba(255,255,255,.6);
text-decoration: none;
font-size: 1em;
letter-spacing: .3px;
font-weight: 400;
padding-left: 20px;
margin-bottom: 10px;
}

footer .footernav ul li{
  position: relative;
}
footer li::before {
  content:'';
  display: block;
  float: left;
  width: 8px;
  height: 12px;
  top: 0;
  left: 0;
  background-image: url("../images/list_item_arrow_red.svg");
  background-repeat: no-repeat;
}

.footerimg {
  justify-content: center;
  width: 100%;
  max-width: 88px;
  padding-top: 1em;
 margin-bottom: 33px;
}
